@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--black);
}

section{
    padding:5rem 9%;
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top:50%; left:0;
    transform: translateY(-50%);
    width: 100%;
    height:.01rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}

.heading span{
    font-size: 3rem;
    padding:.5rem 2rem;
    color:var(--black);
    background: #fff;
    border:var(--border);
}

.btn{
    margin-top: 1rem;
    display:inline-block;
    padding:.9rem 3rem;
    border-radius: .5rem;
    color:#fff;
    background:var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background:var(--dark-color);
}

.header .header-1{
    background:#fff;
    padding:1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--black);
}

.header .header-1 .logo i{
    color:var(--green);
}

.header .header-1 .search-form{
    width:50rem;
    height:5rem;
    border:var(--border);
    overflow: hidden;
    background:#fff;
    display:flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding:0 1.2rem;
    height:100%;
    width:100%;
    text-transform: none;
    color:var(--black);
}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover{
    color:var(--green);
}

.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color:var(--green);
}

#search-btn{
    display: none;
}

.header .header-2{
    background:var(--green);
}

.header .header-2 .navbar{
    text-align: center;
}

.header .header-2 .navbar a{
    color:#fff;
    display: inline-block;
    padding:1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover{
    background:var(--dark-color);
}

.header .header-2.active{
    position:fixed;
    top:0; left:0; right:0;
    z-index: 1000;

}

.bottom-navbar{
    text-align: center;
    background:var(--green);
    position: fixed;
    bottom:0; left:0; right:0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a{
    font-size: 2.5rem;
    padding:2rem;
    color:#fff;
}

.bottom-navbar a:hover{
    background:var(--dark-color);
}

/*image*/
.main{
    display: flex;
	width:100%;
	height: 100vh;
	background-size:800px;
	background-position: center;
	position: relative;
    background-color: #fff;
    flex-wrap: wrap;
}
    .main-img{
        background-color: #fff;
        position:absolute;
        left:15%;
        top: 50%;
        transform: translate(-15%,-50%);
       /* border: 2px solid red;*/
        

    }
    .main-img img{
        height:348px;
    }
    .main-text{
        position: absolute;
        top: 50%;
        left:90%;
        transform: translate(-90%,-50%);
        /*border: 2px solid blue;*/
    }
    .main-text h1,h2{
        font-family:Roboto;
        font-weight: bold;
        margin: 0px;
        line-height: 60px;
        font-size: 4rem;
        text-shadow: 2px 2px 10px rgba(0,0,0,0.08);
        letter-spacing: 3px;
        color:#3D3D4A;
        text-transform: uppercase;
    }.main-text h1,h2{
        letter-spacing:28px;
    }
    .main-text h1 font,
    .main-text h2 font{
        color:#27ae60;
    }
    .main-btn{
        width:150px;
        height: 40px;
        background-color: #2f2e41;
        box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
        margin-top: 20px;
        color:#fff;
        font-family: calibri;
        font-weight: 600;
        letter-spacing: 0.5px;
        font-size: 1rem;
    }
    .main-btn:hover{
        color:#FFFFFF;
        background-color: #219150;
        transition: all ease 0.5s;
    }

.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,.9);
    position:fixed;
    top:0; right:-105%;
    z-index: 10000;
    height:100%;
    width:100%;
}

.login-form-container.active{
    right:0;
}

.login-form-container form{
    background:#fff;
    border:var(--border);
    width:40rem;
    padding:2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin:2rem;
}

.login-form-container form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color:var(--black);
    text-align: center;
}

.login-form-container form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .box{
    width: 100%;
    margin:.7rem 0;
    font-size: 1.6rem;
    border:var(--border);
    border-radius: .5rem;
    padding:1rem 1.2rem;
    color:var(--black);
    text-transform: none;
}

.login-form-container form .checkbox{
    display:flex;
    align-items: center;
    gap:.5rem;
    padding:1rem 0;
}

.login-form-container form .checkbox label{
    font-size: 1.5rem;
    color:var(--light-color);
    cursor: pointer;
}

.login-form-container form .btn{
    text-align: center;
    width:100%;
    margin:1.5rem 0;
}

.login-form-container form p{
    padding-top: .8rem;
    color:var(--light-color);
    font-size: 1.5rem;
}

.login-form-container form p a{
    color:var(--green);
    text-decoration: underline;
}

.login-form-container #close-login-btn{
    position: absolute;
    top:1.5rem; right:2.5rem;
    font-size: 5rem;
    color:var(--black);
    cursor: pointer;
}

.home{
    background: url(../image/banner-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.home .row .content{
    flex:1 1 42rem;
}

.home .row .books-slider{
    flex:1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.home .row .books-slider a img{
    height: 25rem;
}

.home .row .books-slider a:hover img{
    transform: scale(.9);
}

.home .row .books-slider .stand{
    width:100%;
    margin-top: -2rem;
}

.home .row .content h3{
    color:var(--black);
    font-size: 4.5rem;
}

.home .row .content p{
    color:var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding:1rem 0;
}

.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.icons-container .icons{
    display: flex;
    align-items: center;
    gap:1.5rem;
    padding:2rem 0;
}

.icons-container .icons i{
    font-size: 3.5rem;
    color:var(--green);
}

.icons-container .icons h3{
    font-size: 2.2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.icons-container .icons p{
    font-size: 1.4rem;
    color:var(--light-color);
}

.featured .featured-slider .box{
    margin:2rem 0;
    position: relative;
    overflow: hidden;
    border:var(--border);
    text-align: center;
}

.featured .featured-slider .box:hover{
    border:var(--border-hover);
}

.featured .featured-slider .box .image{
    padding:1rem;
    /*background: linear-gradient(15deg, #eee 30%, #fff 30.1%);*/
    background: fffff;
}

.featured .featured-slider .box:hover .image{
    transform: translateY(6rem);
}

.featured .featured-slider .box .image img{
    height: 25rem;
}

.featured .featured-slider .box .icons{
    border-bottom: var(--border-hover);
    position: absolute;
    top:0; left:0; right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-105%);
}

.featured .featured-slider .box:hover .icons{
    transform: translateY(0%);
}

.featured .featured-slider .box .icons a{
    color:var(--black);
    font-size: 2.2rem;
    padding:1.3rem 1.5rem;
}

.featured .featured-slider .box .icons a:hover{
    background:var(--green);
    color:#fff;
}

.featured .featured-slider .box .content{
    background:#eee;
    padding:1.5rem;
}

.featured .featured-slider .box .content h3{
    font-size: 2rem;
    color:var(--black);
}

.featured .featured-slider .box .content .price{
    font-size: 2.2rem;
    color:var(--black);
    padding-top: 1rem;
}

.featured .featured-slider .box .content .price span{
    font-size: 1.5rem;
    color:var(--light-color);
    text-decoration: line-through;
}

.swiper-button-next,
.swiper-button-prev{
    border:var(--border-hover);
    height:4rem;
    width:4rem;
    color:var(--black);
    background: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: var(--black);
    color:#fff;
}



.arrivals .arrivals-slider .box{
    display: flex;
    align-items:center;
    gap:1.5rem;
    padding:2rem 1rem;
    border:var(--border);
    margin:1rem 0;
}

.arrivals .arrivals-slider .box:hover{
    border:var(--border-hover);
}

.arrivals .arrivals-slider .box .image img{
    height:15rem;
}

.arrivals .arrivals-slider .box .content h3{
    font-size: 2rem;
    color:var(--black);
}

.arrivals .arrivals-slider .box .content .price{
    font-size: 2.2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.arrivals .arrivals-slider .box .content .price span{
    font-size: 1.5rem;
    color:var(--light-color);
    text-decoration: line-through;
}

.arrivals .arrivals-slider .box .content .stars i{
    font-size: 1.5rem;
    color:var(--green);
}

.deal{
    background:#f3f3f3;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.deal .content{
    flex:1 1 42rem;
}

.deal .image{
    flex:1 1 42rem;
}

.deal .image img{
    width: 100%;
}

.deal .content h3{
    color:var(--green);
    font-size: 2.5rem;
    padding-bottom: .5rem;
}

.deal .content h1{
    color:var(--black);
    font-size: 4rem;
}

.deal .content p{
    padding:1rem 0;
    color:var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
}

.reviews .reviews-slider .box{
    border:var(--border);
    padding:2rem;
    text-align: center;
    margin:2rem 0;
}

.reviews .reviews-slider .box:hover{
    border:var(--border-hover);
}

.reviews .reviews-slider .box img{
    height:7rem;
    width:7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .reviews-slider .box h3{
    color:var(--black);
    font-size: 2.2rem;
    padding:.5rem 0;
}

.reviews .reviews-slider .box p{
    color:var(--light-color);
    font-size: 1.4rem;
    padding:1rem 0;
    line-height: 2;
}

.reviews .reviews-slider .box .stars{
    padding-top: .5rem;
}

.reviews .reviews-slider .box .stars i{
    font-size: 1.7rem;
    color:var(--green);
}


.footer{
    background: #fff;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:#130f40;
    padding:1rem 0;
}

.footer .box-container .box h3 i{
    color:#27ae60;
}

.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color:#666;
    padding:1rem 0;
}

.footer .box-container .box .links i{
    color:#27ae60;
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
    padding-right: 2rem;
}


.footer .box-container .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color:#666;
    padding:1rem 0;
}

.footer .box-container .box .share a{
    height:4rem;
    width:4rem;
    line-height:4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color:#130f40;
    margin-right: .2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover{
    background:#27ae60;
    color: #fff;
}

.footer .box-container .box .email{
    width: 100%;
    margin:.7rem 0;
    padding:1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color:#130f40;
    text-transform: none;
}



.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding:1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:#130f40;
    border-top:2rem solid rgba(0,0,0,.1);
}

.footer .credit span{
    color:#27ae60;
}

/*.loader-container{
    position: fixed;
    top:0; left: 0;
    height:100%;
    width: 100%;
    z-index: 10000;
    background:#ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-container.active{
    display: none;
}

.loader-container img{
    height:10rem;
}

*/
/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .footer{
        text-align: center;
    }

    .footer .box-container .box .payment-img{
        margin: 2rem auto;
    }
}
/*mega*/

nav{
    position: sticky;
    z-index: 99;
    width: 100%;    
    background: var(--green);
  }
  nav .wrapper{
    position: relative;
    max-width: 1300px;
    padding: 0px 30px;
    height: 73px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .wrapper .nav-links{
    display: inline-flex;
    margin: auto;
  }
  .nav-links li{
    list-style: none;
  }
  .nav-links li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links li:hover{
    background: var(--dark-color);
    height: 90%;
  }
  .nav-links .mobile-item{
    display: none;
  }
  .nav-links li:hover .mega-box{
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
  }
  .mega-box{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
  }
  .mega-box .content{
    background: var(--dark-color);
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  }
  .mega-box .content .row{
    width: calc(25% - 30px);
    line-height: 45px;
  }
  .content .row img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .content .row header{
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
  }
  .content .row .mega-links{
    margin-left: 0;
    border-left: 1px solid rgba(255,255,255,0.09);
  }
  .row .mega-links li{
    padding: 0 20px;
  }
  .row .mega-links li a{
    padding: 0px;
    padding: 0 20px;
    color: #ffffff;
    font-size: 17px;
    display: block;
  }
  .row .mega-links li a:hover{
    color: #ffffff;
  }
  .wrapper .btn{
    color: rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  .wrapper .btn.close-btn{
    position: absolute;
    right: 30px;
    top: 10px;
  }
  @media screen and (max-width: 970px) {
    .wrapper .btn{
      display: block;
    }
    .wrapper .nav-links{
      position: fixed;
      height: 100vh;
      width: 100%;
      max-width: 350px;
      top: 0;
      left: -100%;
      background: var(--dark-color);
      display: block;
      padding: 50px 10px;
      line-height: 50px;
      overflow-y: auto;
      box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
      transition: all 0.3s ease;
    }
    #menu-btn:checked ~ .nav-links{
      left: 0%;
    }
    #menu-btn:checked ~ .btn.menu-btn{
      display: none;
    }
    #close-btn:checked ~ .btn.menu-btn{
      display: block;
    }
    .nav-links li{
      margin: 15px 10px;
    }
    .nav-links li a{
      padding: 0 20px;
      display: block;
      font-size: 20px;
    }
    #showMega:checked ~ .mega-box{
      max-height: 100%;
    }
    .nav-links .desktop-item{
      display: none;
    }
    .nav-links .mobile-item{
      display: block;
      color: #ffffff;
      font-size: 20px;
      font-weight: 500;
      padding-left: 20px;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.3s ease;
    }
    .mega-box{
      position: static;
      top: 65px;
      opacity: 1;
      visibility: visible;
      padding: 0 20px;
      max-height: 0px;
      overflow: hidden;
      transition: all 0.3s ease;
    }
    .mega-box .content{
      box-shadow: none;
      flex-direction: column;
      padding: 20px 20px 0 20px;
    }
    .mega-box .content .row{
      width: 100%;
      margin-bottom: 15px;
      border-top: 1px solid rgba(255,255,255,0.08);
    }
    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2){
      border-top: 0px;
    }
    .content .row .mega-links{
      border-left: 0px;
      padding-left: 15px;
    }
    .row .mega-links li{
      margin: 0;
    }
    .content .row header{
      font-size: 19px;
    }
  }
  nav input{
    display: none;
  }








/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header .header-1{
        padding:2rem;
    }

    section{
        padding:3rem 2rem;
    }
   /* .menu-btn{
        border: none;
        position: absolute;
        left: 80%;
    }*/


}

@media (max-width:768px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

    .header .header-2{
        display:none;
    }

    .bottom-navbar{
        display: block;
    }

    #search-btn{
        display: inline-block;
    }

    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .search-form{
        position:absolute;
        top:-115%; right:2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active{
        top:115%;
    }

    .home .row .content{
        text-align: center;
    }

    .home .row .content h3{
        font-size: 3.5rem;
    }

    .newsletter{
        background-position: right;
    }

    .newsletter form{
        margin-left:0;
        max-width: 100%;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}
@media (max-width:1240px){

    .main-text{
        width: 100%;
        margin-top: 31rem;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .main-img{
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;

    }
    .main{
        flex-wrap: wrap;
        
    }
}
@media (max-width:503px){
.menu-btn{
        border: none;
        position: absolute;
        left: 80%;
    }
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /*.dropdown {
    position: relative;
    display: inline-block;
    /* margin-left: -1.3rem; 
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 210px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* z-index: 1; 
    
    margin-left: -17.3rem;
    /* border: 2px solid black; 
  }
    .dropdown-content a {
      margin: 1rem;
      font-size: 2rem;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    /* .dropdown a:hover {background-color: #ddd;} 
  
    
    .dropdown-content a:hover {background-color: #ddd;}
    
    #dropdown:hover .dropdown-content {display: block;}
    
    #dropdown:hover .dropbtn {background-color: #3e8e41;}
    .show{
      display: block;
      z-index: 1000;
    }
    .dropbtn {
      /* background-color: #3498DB; */
      /* color: white; */
      /* padding: 16px; 
      margin-left: 1.5rem;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
    /* .dropbtn:hover, .dropbtn:focus {
      background-color: #2980B9;
    } */

    .container{

        max-width: 1200px;
    
        margin: 0 auto;
    
    }
    
    .container > h1{
    
        padding: 20px 0;
    
    }
    
    .cart{
    
        display: flex;
    
    }
    
    .products{
    
        flex: 0.75;
    
    }
    
    .product{
    
        display: flex;
    
        width: 100%;
    
        height: 200px;
    
        overflow: hidden;
    
        border: 1px solid silver;
    
        margin-bottom: 20px;
    
    }
    
    .product:hover{
    
        border: none;
    
        box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    
        transform: scale(1.01);
    
    }
    
    .product > img{
    
        width: 300px;
    
        height: 200px;
    
        object-fit: contain;
    
    }
    
    .product > img:hover{
    
        transform: scale(1.04);
    
    }
    
    .product-info{
    
        padding: 20px;
    
        width: 100%;
    
        position: relative;
    
    }
    
    .product-name, .product-price, .product-offer{
    
        margin-bottom: 20px;
    
    }
    
    .product-remove{
    
        position: absolute;
    
        bottom: 20px;
    
        right: 20px;
    
        padding: 10px 25px;
    
        background-color: var(--dark-color);
    
        color: white;
    
        cursor: pointer;
    
        border-radius: 5px;
    
    }
    
    .product-remove:hover{
    
        background-color: white;
    
        color: var(--dark-color);
    
        font-weight: 600;
    
        border: 1px solid green;
    
    }
    
    .product-quantity > input{
    
        width: 40px;
    
        padding: 5px;
    
        text-align: center;
    
    }
    
    .fa{
    
        margin-right: 5px;
    
    }
    
    .cart-total{
    
        flex: 0.25;
    
        margin-left: 20px;
    
        padding: 20px;
    
        height: 240px;
    
        border: 1px solid silver;
    
        border-radius: 5px;
    
    }
    
    .cart-total p{
    
        display: flex;
    
        justify-content: space-between;
    
        margin-bottom: 30px;
    
        font-size: 20px;
    
    }
    
    .cart-total a{
    
        display: block;
    
        text-align: center;
    
        height: 40px;
    
        line-height: 40px;
    
        background-color: var(--dark-color);
    
        color: white;
    
        text-decoration: none;
    
    }
    
    .cart-total a:hover{
    
        background-color: var(--green);
    
    }
    
    @media screen and (max-width: 700px){
    
        .remove{
    
            display: none;
    
        }
    
        .product{
    
            height: 150px;
    
        }
    
        .product > img{
    
            height: 150px;
    
            width: 200px;
    
        }
    
        .product-name, .product-price, .product-offer{
    
            margin-bottom: 10px;
    
        }
    
    }
    
    @media screen and (max-width: 900px){
    
        .cart{
    
            flex-direction: column;
    
        }
    
        .cart-total{
    
            margin-left: 0;
    
            margin-bottom: 20px;
    
        }
    
    }
    
    @media screen and (max-width: 1220px){
    
        .container{
    
            max-width: 95%;
    
        }
    
    }